<header>
  <section>
    <div class="header-container">
      <div class="header-items">
      <ul class="header-logo_menu">
        <li>
          <svg width="20" height="11" stroke="#000000">
            <use href="./svg/sprite.svg#icon-menu-icon"></use>
          </svg>
        </li>

        <li>
          <svg width="100" height="22" stroke="#000000">
            <use href="./svg/sprite.svg#icon-LOGO"></use>
          </svg>
        </li>
      </ul>

      <ul class="header-profile_menu">
        <li>
          <svg width="20" height="17" stroke="#000000">
            <use href="./svg/sprite.svg#icon-wishlist-icon"></use>
          </svg>
        </li>
        <li>
          <svg width="20" height="17" stroke="#000000">
            <use href="./svg/sprite.svg#icon-bag"></use>
          </svg>
        </li>
        <li>
          <svg width="20" height="17" stroke="#000000" fill="#FFFFFF">
            <use href="./svg/sprite.svg#icon-profile-icon"></use>
          </svg>
        </li>
      </ul>
</div>
      <form autocomplete="off">
              <div>
                <input class="header-form"
                  type="text"
                  name="find"
                  placeholder="Поиск"
                  required
                />
    </div>
    <ul class="js-header_menu">

    </ul>
  </section>
</header>
